.donationRowContainer {
    display: "flex";
    width:100%;
   
}
.donationRowCell {

}
.donationAmount {
    font-weight: bold;
    color: black;
}

.donationDetails {
    color: black;
    text-align: right;
}