.headerContainer {
    background-color: #0f0e5b;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.logoContainer {
    margin: 8px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.navigationList {
    margin-left: 8px;
}

p {
    color: #FFF;
}